<% content_for(:title, "List | To Do") %>
<% content_for(:navbar) do %>
<li><a href="/">Home</a></li>
<li><a href="/lists">To Do App</a></li>
<li><a href="/lists/new">New List</a></li>
<% end %>
<hr>

<h1><%= @list.name %></h1>

<% if @list.tasks.any? %>
  <h4>Here are the tasks for this list:</h4>

  <ul>
    <% @list.tasks.each do |task| %>
      <li>
        <%= task.description %> |
        <%= link_to "Edit", edit_list_task_path(@list, task), id: "edit_task_link", remote: true %> |
        <%= link_to "Delete", list_task_path(@list, task),
                                 :data => {:confirm => "Are you sure?",
                                                :method => "delete"} %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>There are no tasks yet!</p>
<% end %>

<p><%= link_to "Add a task", new_list_task_path(@list), id: "new_task_link", class: "btn btn-default", remote: true %></p>

<hr>

<p><%= link_to "Edit a List", edit_list_path(@list), id: "edit_list_link", class: "btn btn-success", remote: true %></p>
<p><%= link_to "Delete List", list_path(@list),
                        :data => {:confirm => "Are you sure?",
                                       :method => "delete"},
                                       :class => "btn btn-danger" %></p>

<p><%= link_to "Return to lists", lists_path, :class => "btn btn-default" %></p>
